
 * {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-image: url(imgs/back.avif);
}

.container {
    max-width: 320px;
    width: 90%;
    margin: 0 auto;
}
.descricao {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 18px;
    font-weight: bold;
    text-align: center;
    color: white;
    margin-bottom: 25px;
    background-color: rgba(0, 0, 0, 0.2);
    padding: 10px;
    border-radius: 10px;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}

.inputs {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    margin-top: 100px;
}

input {
    font-size: 16pxgit;
    height: 30px;
    width: 100%;
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background: white;
    color: #003366; /* azul escuro */
    border: 2px solid #003366;
    border-radius: 10px;
}

#resultado {
    background-color: rgb(160, 160, 184);
    font-weight: bold;
    color: black;
}

button {
    width: 100%;
    height: 30px;
    background: #e9ecef;
    border: 2px solid #1b2a4e;
    border-radius: 10px;
    font-weight: bold;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

#mensagem {
    color: white;
    font-weight: bold;
    font-size: 28px;
    text-align: center;
}

@media (max-width: 480px) {
    .inputs {
        margin-top: 40px;
        gap: 15px;
    }

    #mensagem {
        font-size: 22px;
    }
}
